.navigate {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navigate .navigate__logo {
  color: #46e217;
}

.navigate .navigate__button {
  color: #2196da;
  transition: transform, 0.3s;
}

.navigate .navigate__button:hover {
  transform: scale(1.4);
}

.navigate .open {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 2px solid #2196da;
  width: 100%;
  height: 280px;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  font-size: 18px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.navigate .navigate__options {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 2px solid #2196da;
  width: 100%;
  height: 280px;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  font-size: 18px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.navigate .navigate__options--item {
  padding: 20px 0 20px 0;
}

.navigate .navigate__cart {
  color: #46e217;
}
